<img id="burger-image" src="https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="image of hands making a hamburger">

<h1>Eat-Da-Burger!!</h1>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="add" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
