li {
  padding: 5px;
  margin: 5px;
  background: #d1c6b6;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

/* #burgers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
} */

#burger-image {
  width: 200px;
  height: 350px;
  padding: 5px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: goldenrod;
}